#video
{
   width: 200%;
   height: 500%;
   border: none;
}

.travel1
{
   border: 1px solid lightgray;
}
.travel2
{
   width: 100px;
}
.travel3
{
   margin: 3px;
}

.movie_head
{
   font-size: 20px;
   padding: 6px 22px;
   border-radius: 10px;
   margin-bottom: 15px;
}

.movie_head i
{
   float: right;
}

.achivement_text span
{
   color: orange;
}